#List Comprehension
We are not only limited to list comprehension

*   set comprehension
*   tuple comprehension
*   dictionary comprehension

In [1]:
numbers = [x for x in range(100)]

In [2]:
numbers

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [3]:
numbers = []

for x in range(100):
  numbers.append(x)

In [4]:
numbers

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [5]:
numbers = [x*2 for x in range(100)]

In [6]:
numbers

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198]

In [7]:
numbers = [float(x) for x in range(100)]

In [8]:
numbers

[0.0,
 1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 15.0,
 16.0,
 17.0,
 18.0,
 19.0,
 20.0,
 21.0,
 22.0,
 23.0,
 24.0,
 25.0,
 26.0,
 27.0,
 28.0,
 29.0,
 30.0,
 31.0,
 32.0,
 33.0,
 34.0,
 35.0,
 36.0,
 37.0,
 38.0,
 39.0,
 40.0,
 41.0,
 42.0,
 43.0,
 44.0,
 45.0,
 46.0,
 47.0,
 48.0,
 49.0,
 50.0,
 51.0,
 52.0,
 53.0,
 54.0,
 55.0,
 56.0,
 57.0,
 58.0,
 59.0,
 60.0,
 61.0,
 62.0,
 63.0,
 64.0,
 65.0,
 66.0,
 67.0,
 68.0,
 69.0,
 70.0,
 71.0,
 72.0,
 73.0,
 74.0,
 75.0,
 76.0,
 77.0,
 78.0,
 79.0,
 80.0,
 81.0,
 82.0,
 83.0,
 84.0,
 85.0,
 86.0,
 87.0,
 88.0,
 89.0,
 90.0,
 91.0,
 92.0,
 93.0,
 94.0,
 95.0,
 96.0,
 97.0,
 98.0,
 99.0]

In [9]:
numbers = [x for x in 'PYTHON']

In [ ]:
numbers

['P', 'Y', 'T', 'H', 'O', 'N']

In [11]:
numbers = {x for x in 'PYTHON'}

In [12]:
numbers

{'H', 'N', 'O', 'P', 'T', 'Y'}

In [13]:
job_list = [
    "Data Scientist", "Data Analyst", "Machine Learning Engineer", "Data Engineer", "AI Research Scientist",
    "Business Intelligence Analyst", "Data Architect", "Data Science Consultant", "Quantitative Analyst", "Big Data Engineer",
    "Statistical Analyst", "Data Science Manager", "Deep Learning Engineer", "Data Scientist (Healthcare)", "Operations Research Analyst",
    "Data Analyst (Marketing)", "Data Science Intern", "Applied Data Scientist", "Data Analytics Specialist", "Data Visualization Expert",
    "Machine Learning Researcher", "Business Analyst", "Predictive Analytics Specialist", "Data Quality Analyst", "Data Scientist (Finance)",
    "Artificial Intelligence Engineer", "Business Intelligence Developer", "Data Scientist (Retail)", "Data Engineer (Cloud)", "Machine Learning Consultant",
    "Data Operations Manager", "Database Administrator", "Data Science Lead", "Junior Data Scientist", "Data Analyst (Financial Services)",
    "Machine Learning Specialist", "Data Mining Engineer", "AI Solutions Architect", "Business Intelligence Manager", "Data Science Director",
    "Big Data Architect", "Computational Scientist", "Data Science Trainer", "Data Analyst (E-commerce)", "Senior Data Engineer",
    "Machine Learning Developer", "Data Science Advisor", "Data Research Scientist", "Data Scientist (Telecommunications)", "Cloud Data Engineer",
    "Data Governance Specialist", "AI Product Manager", "NLP Scientist", "Data Strategy Consultant", "Advanced Analytics Consultant",
    "Data Architect (Big Data)", "Data Science Project Manager", "Data Scientist (Energy)", "Data Visualization Analyst", "Senior Data Scientist",
    "Quantitative Data Analyst", "Data Science Researcher", "Business Data Analyst", "AI Engineer", "Data Modeling Specialist",
    "Data Mining Specialist", "Full Stack Data Engineer", "Data Solutions Architect", "Lead Data Scientist", "Business Intelligence Specialist",
    "Data Quality Engineer", "Data Engineer (Python)", "Quantitative Researcher", "Data Analytics Consultant", "Data Science (Pharmaceuticals)",
    "Senior Machine Learning Engineer", "Data Automation Engineer", "Data Analyst (Manufacturing)", "AI Data Analyst", "Senior Data Analyst",
    "Big Data Scientist", "Data Analyst (Government)", "Data Science Trainer", "Data Engineer (Hadoop)", "Junior Data Analyst",
    "Data Science Consultant (Freelance)", "Cloud Analytics Specialist", "Data Science Instructor", "Customer Data Analyst", "Data Scientist (Automotive)",
    "Predictive Modeling Analyst", "Data Management Specialist", "Senior AI Developer", "Research Data Scientist", "Lead Machine Learning Engineer",
    "Data Engineering Consultant", "Data Science Analyst", "AI Data Scientist", "Senior Data Visualization Analyst", "Business Intelligence Engineer",
    "Data Engineer (SQL)", "Data Analytics Manager", "Data Research Analyst", "Analytics Solutions Architect", "Data Scientist (Media)",
    "Data Architect (AWS)", "Data Engineer (Java)", "AI Solutions Developer", "Data Scientist (Finance)", "Machine Learning Engineer (R)"
]

In [14]:
analyst_list = []

for job in job_list:
  if 'Data Analyst' in job:
    analyst_list.append(job)

In [15]:
len(analyst_list)

12

In [16]:
analyst_list = [job for job in job_list if 'Data Analyst'in job]

In [17]:
print('Original job is :', len(job_list), 'jobs')
print('New list is:', len(analyst_list), 'jobs')

Original job is : 110 jobs
New list is: 12 jobs

In [18]:
analyst_list

['Data Analyst',
 'Data Analyst (Marketing)',
 'Data Analyst (Financial Services)',
 'Data Analyst (E-commerce)',
 'Quantitative Data Analyst',
 'Business Data Analyst',
 'Data Analyst (Manufacturing)',
 'AI Data Analyst',
 'Senior Data Analyst',
 'Data Analyst (Government)',
 'Junior Data Analyst',
 'Customer Data Analyst']