#Types of Functions

Built-in functions, print()
User-defined functions, def my_function(): pass
Lambda functions, lambda x: x + 1, Lambda
Standard Library functions, math.sqrt(), Modules
Third-Party Library functions, numpy.array(), Library

#Built-in Functions

In [1]:
skill_list = ['Python', 'SQL', 'Excel']
print (skill_list)

['Python', 'SQL', 'Excel']

In [2]:
type(skill_list)

list

In [3]:
len(skill_list)

3

In [4]:
range(5)

range(0, 5)

In [5]:
data_salaries = [45000, 55000, 60000, 65000, 75000]

In [6]:
min(data_salaries)

45000

In [7]:
max(data_salaries)

75000

In [8]:
sum(data_salaries)

300000

In [9]:
sorted(data_salaries)

[45000, 55000, 60000, 65000, 75000]

#User-Defined Functions

In [10]:
# Calculate total_salary of base_salary * (1 + bonus_rate)

def calculate_salary(base_salary, bonus_rate):

  total_salary = base_salary * (1 + bonus_rate)

  return total_salary

In [11]:
base_salary = 100000
bonus_rate = 0.1
calculate_salary(base_salary, bonus_rate)

110000.00000000001

In [12]:
calculate_salary(90000, 0.25)

112500.0

In [13]:
# Calculate total_salary of base_salary * (1 + bonus_rate)

def calculate_salary(base_salary, bonus_rate = .1):

  total_salary = base_salary * (1 + bonus_rate)

  return total_salary

In [14]:
base_salary = 100000
bonus_rate = 0.1
calculate_salary(base_salary, bonus_rate)

110000.00000000001

In [15]:
base_salary = 100000
rate_1 = 0.5
calculate_salary(base_salary, rate_1)

150000.0

In [16]:
base_salary = 100000
bonus_rate = 0.2
calculate_salary(base_salary, bonus_rate)

120000.0

# Lambda Functions

In [17]:
mul_two = lambda x: x * 2

In [18]:
mul_two(3)

6

In [19]:
(lambda x: x * 2)(3)

6

In [20]:
(lambda x, y: x * 2 + y)(3, 5)

11

In [21]:
salary_list = [45000, 55000, 60000, 65000, 75000]

# Calculate total_salary of base_salary * (1 + bonus_rate)

def calculate_salary(base_salary, bonus_rate = 0.1):

 total_salary = base_salary * (1 + bonus_rate)
 return total_salary

total_salary_list = [salary for salary in salary_list]

total_salary_list

[45000, 55000, 60000, 65000, 75000]

In [22]:
total_salary_list = [calculate_salary (salary) for salary in salary_list]

total_salary_list

[49500.00000000001, 60500.00000000001, 66000.0, 71500.0, 82500.0]

In [23]:
salary_list = [45000, 55000, 60000, 65000, 75000]

# Calculate total_salary of base_salary * (1 + bonus_rate)

def calculate_salary(base_salary, bonus_rate = 0.1):

 return base_salary * (1 + bonus_rate)

total_salary_list = [salary for salary in salary_list]

total_salary_list

[45000, 55000, 60000, 65000, 75000]

In [24]:
# Calculate total_salary of base_salary * (1 + bonus_rate)

def calculate_salary(base_salary, bonus_rate = 0.1):

 return base_salary * (1 + bonus_rate)

total_salary_list = [calculate_salary (salary) for salary in salary_list]

total_salary_list

[49500.00000000001, 60500.00000000001, 66000.0, 71500.0, 82500.0]

In [25]:
# Calculate total_salary of base_salary * (1 + bonus_rate)

#def calculate_salary(base_salary, bonus_rate = 0.1):

 #return base_salary * (1 + bonus_rate)

total_salary_list = [(lambda x: x) (salary) for salary in salary_list]

total_salary_list

[45000, 55000, 60000, 65000, 75000]

In [26]:
# Calculate total_salary of base_salary * (1 + bonus_rate)

#def calculate_salary(base_salary, bonus_rate = 0.1):

 #return base_salary * (1 + bonus_rate)

total_salary_list = [(lambda x: x * 1.1) (salary) for salary in salary_list]

total_salary_list

[49500.00000000001, 60500.00000000001, 66000.0, 71500.0, 82500.0]

In [27]:
# Calculate total_salary of base_salary * (1 + bonus_rate)

#def calculate_salary(base_salary, bonus_rate = 0.1):

 #return base_salary * (1 + bonus_rate)

total_salary_list = [salary * 1.1 for salary in salary_list]

total_salary_list

[49500.00000000001, 60500.00000000001, 66000.0, 71500.0, 82500.0]

#Data Filtering Example
Find jobs that have Python that are remote

In [28]:
job_data = [  {
        "job_title": "Data Scientist",
        "job_skills": ["Python", "Machine Learning", "Data Analysis", "SQL", "TensorFlow"],
        "remote": True
    },
    {
        "job_title": "Machine Learning Engineer",
        "job_skills": ["Python", "Machine Learning", "Deep Learning", "TensorFlow", "Keras"],
        "remote": False
    },
    {
        "job_title": "Data Analyst",
        "job_skills": ["SQL", "Excel", "Data Visualization", "Tableau", "Python"],
        "remote": True
    },
    {
        "job_title": "AI Research Scientist",
        "job_skills": ["Python", "Deep Learning", "Research", "Natural Language Processing", "PyTorch"],
        "remote": False
    },
    {
        "job_title": "Data Engineer",
        "job_skills": ["SQL", "Python", "ETL", "Cloud Computing", "Apache Spark"],
        "remote": True
    }
]

In [29]:
job_data

[{'job_title': 'Data Scientist',
  'job_skills': ['Python',
   'Machine Learning',
   'Data Analysis',
   'SQL',
   'TensorFlow'],
  'remote': True},
 {'job_title': 'Machine Learning Engineer',
  'job_skills': ['Python',
   'Machine Learning',
   'Deep Learning',
   'TensorFlow',
   'Keras'],
  'remote': False},
 {'job_title': 'Data Analyst',
  'job_skills': ['SQL', 'Excel', 'Data Visualization', 'Tableau', 'Python'],
  'remote': True},
 {'job_title': 'AI Research Scientist',
  'job_skills': ['Python',
   'Deep Learning',
   'Research',
   'Natural Language Processing',
   'PyTorch'],
  'remote': False},
 {'job_title': 'Data Engineer',
  'job_skills': ['SQL', 'Python', 'ETL', 'Cloud Computing', 'Apache Spark'],
  'remote': True}]

In [30]:
filter(lambda job: job ['remote'], job_data)

In [31]:
list (filter(lambda job: job ['remote'], job_data))

[{'job_title': 'Data Scientist',
  'job_skills': ['Python',
   'Machine Learning',
   'Data Analysis',
   'SQL',
   'TensorFlow'],
  'remote': True},
 {'job_title': 'Data Analyst',
  'job_skills': ['SQL', 'Excel', 'Data Visualization', 'Tableau', 'Python'],
  'remote': True},
 {'job_title': 'Data Engineer',
  'job_skills': ['SQL', 'Python', 'ETL', 'Cloud Computing', 'Apache Spark'],
  'remote': True}]

In [32]:
list (filter(lambda job: job ['remote'] and 'Excel' in job ['job_skills'], job_data))

[{'job_title': 'Data Analyst',
  'job_skills': ['SQL', 'Excel', 'Data Visualization', 'Tableau', 'Python'],
  'remote': True}]

#Modules

In [33]:
import my_module

ModuleNotFoundError: No module named 'my_module'

In [34]:
my_module.skill_list

NameError: name 'my_module' is not defined

In [ ]:
my_module.skill('Python')

In [ ]:
import job_analyser

In [ ]:
job_analyser.calculate_salary(100000)

In [ ]:
from job_analyser import calculate_salary
calculate_salary(100000)

In [ ]:
from job_analyser import calculate_salary, calculate_bonus

calculate_salary(100000)
calculate_bonus(110000, 100000)

In [ ]:
from job_analyser import *

calculate_salary(100000)
calculate_bonus(110000, 100000)

In [ ]:
help(calculate_salary)